<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reported.rarrier.mapper.ensure.ApplyMapper">
    <resultMap id="BaseResultMap" type="com.reported.rarrier.model.ensure.Apply">

    </resultMap>

    <!-- 明细查询 -->
    <select id="selectByApplyId" resultType="com.reported.rarrier.model.ensure.Apply">
        select a.* from Apply a where 1=1
        <if test="applyId != null">
            and ApplyId = #{applyId}
        </if>
    </select>

    <!--<update id="updateApply">-->
     <!--update Apply set c_status = #{equipTypeCode} where vc_pid = #{picAttrib.vcPid}-->
    <!--</update>-->
    <select id="countApply" resultType="java.lang.Integer">
        select count(*) from Apply a where a.SolutionFlag = #{SolutionFlag}
    </select>
</mapper>