<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reported.rarrier.mapper.nufac.NufacMapper">


    <select id="selectNufac" resultType="java.util.HashMap">
        SELECT TOP 1000 A.AS_NUM, A.AS_NAME, B.AB_NAME, A.FA_NAME, A.AS_MODEL,
      A.AS_ACCE, A.AS_SEL_NUM, C.SC_NAME, A.AS_PRC, A.AS_COL_DATE, A.AS_FIELD1,
      A.AS_FIELD2, A.AS_FIELD3, A.AS_FIELD4, D.UD_PRT_NAME, E.OG_NAME,
      A.AS_USER, A.AL_USAGE
FROM ASSETS A INNER JOIN
      AS_BRAND B ON A.AB_ID = B.AB_ID INNER JOIN
      AS_SOURCE C ON A.SC_ID = C.SC_ID INNER JOIN
      USE_DEPT D ON D.UD_ID = A.UD_ID INNER JOIN
          (SELECT OG_NAME, OG_FATHER_ID, OG_ID
         FROM EPS_ORG..ORG_SYS) E ON A.OG_ID = E.OG_ID
WHERE (A.AS_NUM = #{asNum})
    </select>
</mapper>